/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}

/* navbar css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
    background: #fff;
}


/* common style */
.common-btn {
    background-color: rgb(12, 15, 218);
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(12, 15, 218);
    border: 1px solid rgb(12, 15, 218);
    cursor: pointer;
}    


nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;

}

/* Hero css */

.hero {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.05)), url("./images/banner.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    color: rgb(243, 195, 221);
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p {
    color: white;
    font-size: 18px;
    width: 650px;
    margin: 0 auto 300px;
}

.hero-content .common-btn {
    padding: 16px 35px;
    font-size: 18px;
}

/* Meet Speakers css */

.speakers {
    padding: 70px;
}

.speakers h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.speakers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-left: 95px;
}

.speaker-card {
    border: 1px solid #ddd;
    border-radius: 9px;
    overflow: hidden;
}

.speaker-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.category {
    color: blue;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.speaker-card h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.institute {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
}


/* Pricing css */

.pricing {
    padding: 70px;
}

.pricing h2 {
    text-align: center;
    font-size: 45px;
}

.pricing-caption {
    text-align: center;
    color: gray;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.price-card {
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 20px;
    width: 300px;
}

.price-card h4 {
    color: gray;
    margin-bottom: 10px;
}

.price-card h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

.price-card ul {
    display: block;
    margin: 20px 0;
    padding-left: 20px;
}

.price-card ul li {
    margin-bottom: 10px;
}

.price-card .common-btn, .outline-btn {
    width: 100%;
}

.pro-card {
    background-color: #102033;
    color: rgb(255, 255, 255);
}

.pro-card h4 {
    color: rgb(129, 148, 189);
}

/* Why Attend css */

.why-attend {
    padding: 80px 20px;
    background-color: #f8f9fc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.section-title p {
    color: gray;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.benefits {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.benefit-card {
    background-color: rgb(234, 234, 235);
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.benefit-card h3 {
    margin-bottom: 15px;
}

.benefit-card p {
    color: #363535;
    line-height: 1.6;
}


/* Footer css */

.footer {
    background-color:#101c2b;
    padding:40px 70px;
}

.footer-top {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.footer-logo img {
    width:120px;
}

.social-icons {
    display:flex;
    gap:20px;
}

.footer hr {
    border:none;
    border-top:1px solid #2b3d52;
    margin:25px 0;
}

.footer-bottom {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p {
    color: gray;
    font-size:14px;
}

.footer-policy {
    display:flex;
    gap:20px;
}

.footer-policy a {
    text-decoration:none;
    color: gray;
    font-size:14px;
}

.footer-policy a:hover {
    color:white;
}